env.d/terraform
env.d/kustomize

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Generated Kubernetes configuration file
.kubeconfig*
.k8s-builded-config

k8s/overlays/*
!k8s/overlays/example
!k8s/overlays/.template
