version: '3.4'

services:

  terraform-state:
    image: hashicorp/terraform:0.15.3
    env_file: env.d/terraform
    user: ${DOCKER_USER:-1000}
    working_dir: /app
    volumes:
      - ./terraform/create_state_bucket:/app

  terraform:
    image: hashicorp/terraform:0.15.3
    env_file: env.d/terraform
    user: ${DOCKER_USER:-1000}
    working_dir: /app
    environment:
      # Without this value, the Helm provider fails to fetch chart repository data
      - XDG_CACHE_HOME=/tmp
      #
    volumes:
      - ./terraform:/app

  kubectl:
    image: bitnami/kubectl:latest
    user: ${DOCKER_USER:-1000}
    volumes:
      - ./terraform/.kubeconfig:/.kube/config
