XMPP_AUTH_DOMAIN=auth.YOUR_DOMAIN
XMPP_DOMAIN=YOUR_DOMAIN
XMPP_INTERNAL_MUC_DOMAIN=internal.auth.YOUR_DOMAIN
XMPP_RECORDER_DOMAIN=recorder.YOUR_DOMAIN
XMPP_SERVER=YOUR_DOMAIN
DISPLAY=:0
JIBRI_BREWERY_MUC=jibribrewery
JIBRI_FFMPEG_RESOLUTION=1280x720
JIBRI_FFMPEG_AUDIO_SOURCE=pulse
JIBRI_FFMPEG_AUDIO_DEVICE=default
JIBRI_FINALIZE_RECORDING_SCRIPT_PATH=/usr/bin/true
JIBRI_LOGS_DIR=/config/logs
JIBRI_RECORDING_DIR=/config/recordings
JIBRI_STRIP_DOMAIN_JID=conference
JIBRI_USAGE_TIMEOUT=0
TZ=UTC
