
# Openstack environment (used to store the state)
OS_PROJECT_ID=
OS_PROJECT_NAME=
OS_USERNAME=
OS_PASSWORD=
OS_REGION_NAME=GRA
OS_AUTH_URL=https://auth.cloud.ovh.net/v3
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_ID=default
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3

# Scaleway credentials
SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_DEFAULT_PROJECT_ID=

# If you want to specify a different scaleway projects per terraform workspace,
# you can define the following maps :
# TF_VAR_scaleway_access_key={ production = "access-key-A", preprod = "access-key-B"}
# TF_VAR_scaleway_secret_key={ production = "secret-key-A", preprod = "secret-key-B"}
# TF_VAR_scaleway_project_id={ production = "project-id-A", preprod = "project-id-B"}
